<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <logging>
        <log type="junit" target="build/test/coverage.xml" />
        <log type="testdox-text" target="build/test/testdox.txt" />
        <log type="testdox-html" target="build/test/testdox.html" />
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true" />
        <log type="coverage-html" target="build/test/coverage" lowUpperBound="50" highLowerBound="90" />
        <log type="coverage-clover" target="build/test/clover.xml" />
    </logging>

    <testsuites>
        <testsuite name="Content Domain Test Suite">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
